
  <div class="container-fluid mt-2">
    <div class="d-flex align-items-center justify-content-center vh-100 text-center">
      <!-- Centered content can go here -->
    </div>
  </div>
  <img src="https://cdn.dribbble.com/userupload/13281884/file/original-5d780e58e242c635af0b99dca0e82917.png?resize=1200x900" alt="Background Image">
  <div class=" row video-section d-flex align-items-start justify-content-center p-5">
    
      <div class="video-upload">
        <app-video-upload></app-video-upload>
      </div>
  </div>
  <img src="https://cdn.dribbble.com/userupload/13047435/file/original-945889c48bd6c2206f1d7e185af0182e.jpg?resize=1200x900" alt="Background Image">
